.env
.venv
__pycache__
*.pyc
instance
.pytest_cache
.ruff_cache
htmlcov
coverage.xml
.coverage
.git
.run.log
.run.err.log
backups
global-bundle.pem
*.pem
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
**/.terraform
**/.terraform.lock.hcl
